functionsDirectory = "C:\\Users\\shuai\\Downloads\\oracle 7\\netlify\\functions"
functionsDirectoryOrigin = "config-v1"
headersOrigin = "config"
redirectsOrigin = "config"
plugins = []
redirects = []

[build]
publish = "C:\\Users\\shuai\\Downloads\\oracle 7"
publishOrigin = "config"
base = "."
functions = "netlify/functions"

  [build.environment]

  [build.processing]

    [build.processing.css]

    [build.processing.html]

    [build.processing.images]

    [build.processing.js]

  [build.services]

[functions]

  [functions."*"]
  node_bundler = "esbuild"

[[headers]]
for = "/api/*"

  [headers.values]
  Access-Control-Allow-Origin = "*"
  Access-Control-Allow-Headers = "Content-Type, Authorization"
  Access-Control-Allow-Methods = "GET, POST, PUT, DELETE, OPTIONS"
